@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.cmn-title {
  padding-bottom: 75px;
  text-align: center;
  font-size: 30px;
  color: #313131;
  font-weight: 500;
  line-height: 1.6;
}

/*Mobile Nav CSS*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: url("./../images/love-block.svg"),
  linear-gradient(to right top, #1485ca,#1172ad, #ec2f4b);  ;
  background-size: 100%, cover;
  background-repeat: repeat, no-repeat;
  background-position: 0, 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top:40px;
  z-index: 999999;
}

.sidenav a {
  padding-bottom: 12px;
  padding-left: 20px;
  text-decoration: none;
  font-size: 16px;
  color: #cccccc;
  display: block;
  transition: 0.3s;
}
.sidenav ul{
  padding-left: 0px;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.mobile_dropdown_item{
  display: flex;
  padding-bottom: 6px;
  padding-left: 20px;
}
.mobile_icon{
  padding-right: 10px;
}
.mobile_text p{
  margin-bottom: 0;
  font-size: 15px;
  color: #f1f1f1!important;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/*Mobile Nav CSS*/

/*Mobile Nav */
.burger-icon{
  font-size:30px;
}
.burger-icon i{
  color: #fff;
}

/*Mobile Nav */



/**Header Section Start*/
.intro {
  position: relative;
  min-height: 100vh;
}

.main_nav_bar {
  position: absolute;
  top: 2%;
  left: 0;
  z-index: 99999;
}

.main-nav-width {
  width: 100%;
  transition: top 250ms linear;
}
.main-nav {
  position: relative;
  z-index: 400;
  min-height: 80px;
  display: flex;
  align-items: center;
}

.main-nav .container {
  padding: 0;
}
.main-nav .logo-link {
  position: relative;
  top: 5px;
}
.logo-link img {
  width: 150px;
}
.main-nav ul {
  text-align: right;
  width: 100%;
}
.main-nav ul li {
  display: inline-block;
  margin-left: 19px;
  margin-right: 19px;
}
.main-nav ul li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  transition: background 0.1s ease;
  font-weight: 500;
}
.main-nav ul li a span {
  text-transform: uppercase;
  font-weight: 500;
  transition: opacity 0.1s ease;
}
.main-nav ul li a.highlighted {
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.2);
  padding: 15px 35px !important;
}
.main-nav .dropdown_trigger {
  position: relative;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.dropdown_menu {
  position: absolute;
  top: 15px;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  z-index: 5000;
  transition: 0.5s ease-in-out;
  transform: rotateX(0deg) scaleX(1) scaleY(0);
}
.dropDown {
  margin-top: 30px;
  border-radius: 5px;
  background: #f1f1f1;
  text-align: left;
  padding: 5px 0px;
  transition: 0.4s ease-in-out;
  box-shadow: 0 50px 100px rgb(50 50 93 / 10%), 0 15px 35px rgb(50 50 93 / 15%),
    0 5px 15px rgb(0 0 0 / 10%);
}
.dropdown_menu:after {
  content: " ";
  position: absolute;
  top: 17px;
  left: 50%;
  margin-left: -13px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 13px 13px 13px;
  border-color: transparent transparent #f1f4f7 transparent;
}
.dropdown_menu a {
  display: block;
}
.dropdown_menu_item {
  padding: 15px 22px 0;
  display: flex;
  width: 400px;
  transition: 0.4s ease-in-out;
  border-bottom: 1px solid #dcdcdc;
}
.dropdown_menu_item:hover {
  background: #fbfbfb;
}
.dropdown_menu_item:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.icon-wrapper {
  width: 55px;
  padding-right: 12px;
}

/*Icons wrapper*/
.fa-code {
  color: #ec6e5a;
}
.fa-palette {
  color: #f0a202;
}
.fa-rocket {
  color: #c20114;
}
.fa-photo-video {
  color: #85c665;
}
.fa-credit-card {
  color: #5fb8c5;
}
.fa-music {
  color: #586994;
}

/*Icon Wrapper*/

/*Carousel Section Start*/
.carousel-control-prev,
.carousel-control-next {
  border: 0;
  background: transparent;
  z-index: 9999;
  width: 7%;
}

.carousel-control-prev .carousel-control-prev-icon,
.carousel-control-next .carousel-control-next-icon {
  background-color: #000;
  border-radius: 50%;
  padding: 15px;
  width: 2.5rem;
  height: 2.5rem;
  background-size: 30px;
}
.carousel-text {
  /* padding-left: 80px; */
  padding-top: 12rem;
  color: #fff;
  text-align: left;
}

.carousel-text h2 {
  font-size: 45px;
  margin-bottom: 20px;
}

.carousel-text p {
  line-height: 28px;
}

.carousel-inner::before {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 40%;
  left: 0;
  -webkit-mask: url('../images/download-top.png') no-repeat top left/contain;
  position: absolute;
  top: 0;
  width: 42%;
  z-index: 99;
}

.carousel-inner::after {
  background-color: #fff;
  bottom: 0;
  content: "";
  display: inline-block;
  height: 100%;
  -webkit-mask: url('../images/download-bottom.png') no-repeat right bottom/contain;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 99;
}

/* .carousel-inner::before {
  content: "";
  display: inline-block;
  height: 40%;
  left: 0;
  background: url('../images/download-top.png') no-repeat top left/contain;
  position: absolute;
  top: 0;
  width: 42%;
  z-index: 99;
}

.carousel-inner::after {
   bottom: 0;
  content: "";
  display: inline-block;
  height: 100%;
  background: url('../images/download-bottom.png') no-repeat right bottom/contain;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 99;
} */
.single_1_row {
  position: absolute;
  z-index: 999;
  left: 50%;
  transform:translate(-50%)
}

.single_1 {
  background-image: url(../images/business.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 120vh;
  position: relative;
  /* z-index: 99; */
}

.single_2 {
  background-image: url(../images/graphic.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 120vh;
}

.single_3 {
  background-image: url(../images/music.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 120vh;
}
.single_4 {
  background-image: url(../images/technology.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 120vh;
}

.single_1::before,
.single_2::before,
.single_3::before,
.single_4::before {
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(
    to right,
    rgba(39, 13, 148, 0.7) 0%,
    rgba(0, 77, 197, 0.7) 50%,
    rgba(146, 188, 255, 0.6) 100%
  );
  opacity: 0.99;
  z-index: 9;
}

/*Carousel Section End*/

.drop_icon i {
  margin: 0;
}
.drop_icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 5px 5px 0px rgb(153 153 153 / 30%);
  -moz-box-shadow: 0px 5px 5px 0px rgba(153, 153, 153, 0.3);
  box-shadow: 0px 5px 5px 0px rgb(153 153 153 / 30%);
  font-size: 17px;
}
.secondary_item {
  padding: 15px 22px;
}
.text-wrapper h5 {
  color: #313131;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}
.text-wrapper p {
  font-size: 13px;
  color: #707e91;
  line-height: 1.3;
}
.dropdown_trigger:hover .dropdown_menu,
.dropdown_trigger.focused .dropdown_menu {
  visibility: visible !important;
  opacity: 1 !important;
  transform: rotateX(0deg) scaleX(1) scaleY(1);
}

.header-content h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
}
.form_field {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  margin-left: -8px;
  margin-right: -8px;
}
.form_field > * {
  margin-left: 8px;
  margin-right: 8px;
}
.form_field input {
  background: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  color: #313131;
  width: 100%;
  max-width: 200px;
  padding: 13px 18px;
  border-radius: 4px;
  outline: 0;
  border: 0;
}
.freetrialBtn {
  padding: 10px 38px;
  background: #fff;
  font-size: 17px;
  box-shadow: 0 7px 30px 2px rgb(0 0 0 / 20%);
  transition: all 0.15s ease;
  border-radius: 30px;
  color: #000;
}
.freetrialBtn:hover {
  background: #fff;
  transform: translateY(-1px);
  color: #000;
}
.small-feature {
  padding-top: 45px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  flex-wrap: wrap;
}
.feature {
  white-space: nowrap;
  font-size: 16px;
  font-weight: bold;
  padding-left: 11px;
  padding-right: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 8px;
}
.icon {
  margin-right: 10px;
  opacity: 0.6;
  opacity: 0.6;
  color: #fff;
  font-size: 18px;
}
.feature span {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}
.main-image {
  padding-top: 0;
  width: 100%;
  height: auto;
}
/**Header Section End*/

/**Productive Section Start*/
.productive-content-block {
  padding-top: 100px;
  padding-bottom: 150px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(100% 0, 100% 85%, 0 100%, 0 0);
  z-index: 0;
  /* margin-top:-110px; */
}
.steps {
  text-align: center;
}

.steps img {
  width: 230px;
}
.steps h3 {
  color: #313131;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 35px;
}
.steps p {
  margin-top: 15px;
  line-height: 1.4;
  color: #626f84;
  padding: 0 15%;
}
/**Productive Section End*/

/*Complete Content Section Start*/
.complete-content-block {
  background: url("./../images/complete-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 85px;
}
/*Complete Content Section End*/

/*Love Block Section Start*/
.love-block {
  background: #330867;
  background-image: url("./../images/love-block.svg"),
   linear-gradient(to right top, #1485ca,#1172ad, #ec2f4b);
  background-size: 100%, cover;
  background-repeat: repeat, no-repeat;
  background-position: 0, 0;
  padding-bottom: 150px;
  clip-path: polygon(100% 8%, 100% 92%, 0 100%, 0 0);
}
.love_item {
  padding: 20px 20px;
  display: flex;
  background: rgba(0, 0, 0, 0.25);
  color: white;
  border-radius: 4px;
  height: 125px;
}
.love_icon-wrapper {
  padding-right: 22px;
  margin-top: 14px;
}
.love_text-wrapper {
  margin-top: 8px;
}
.love_text-wrapper h5 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.love_text-wrapper p {
  font-size: 16px;
}
.love_icon-wrapper .drop_icon {
  width: 45px;
  height: 45px;
}
.single_item {
  padding-bottom: 25px;
}
/*Love Block Section End*/

/*Team Section Start*/
.love_title {
  padding-top: 100px;
}
/*Clients Section Start*/
.clients-block {
  padding: 100px 0px;
}
/*Client Section End*/

/*Free-trial Section Start*/
.free-trial {
  background: #330867;
  background-image: url("./../images/love-block.svg"),
   linear-gradient(to right top, #1485ca,#1172ad, #ec2f4b);

  ;
  background-size: 100%, cover;
  background-repeat: repeat, no-repeat;
  background-position: 0, 0;
  padding: 100px 0 150px;
  clip-path: polygon(100% 0, 100% 100%, 0 90%, 0 10%);
}

/*Inquiry Form Section*/

input:focus {
  outline: 0;
}
.form {
  padding-top: 15px;
}
.form .input-field {
  text-align: left;
  padding-bottom: 20px;
}
.form .input-field label {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  display: block;
  padding-bottom: 10px;
}
.form .input-field input,
.form .input-field select,
.form .input-field textarea {
  padding: 12px 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #626f84;
  outline: 0;
  background: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  border-radius: 5px;
}
.form .input-field textarea {
  height: 175px;
}
/*Inquiry Form Section*/

/*Free-trial Section End*/

/*Trusted-Human Section Start*/
.trusted-human {
  padding: 100px 0px;
}
.pb_5 {
  padding-bottom: 50px;
}
/*Trusted-Human Section End*/

/*Footer Section Start*/
.footer {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #607083;
  color: #fff;
}
.footer-content img {
  width: 150px;
  padding-bottom: 25px;
}
.footer-content p {
  color: white;
  line-height: 1.7;
  padding-right: 20%;
  font-size: 14px;
}
.footer-content ul {
  margin-top: 25px !important;
}
.footer-content ul li {
  margin-right: 45px !important;
}
.footer-content ul li a {
  font-size: 22px;
  color: #fff;
}
.footer-links h5 {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  padding-bottom: 12px;
}
.footer-links ul {
  padding-left: 0px !important;
}
.footer-links ul li {
  margin-top: 20px;
}
.footer-links ul li i{
  margin-right: 25px;
}
.footer-links ul li a {
  color: white !important;
}
.border_bottom {
  border-bottom: 1px solid #909090;
  padding-bottom: 25px;
}
.pt_5 {
  padding-top: 25px;
}

/*Footer Section End*/
